<!--party/templates/party/base.html-->

{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Party Planner</title>
    <script type="text/javascript" src="{% static '/party/js/htmx.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/party/js/alpine.min.js' %}" defer></script>
    {% tailwind_css %}
</head>
<body class="bg-custom-powder-light">
    <nav class="bg-custom-red">
        <a href="/"
            class="inline-block p-4 text-2xl text-custom-powder-light font-dancing-script"
            >
            My parties
        </a>
    </nav>
    <main class="container p-5 m-auto">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>